In [3]:
import pandas as pd
import numpy as np
from datetime import *

Задание 1. Создать объект Series из списка чисел [1, 2, 3] с метками [a, b, c] и вывести его на печать.

In [7]:
numbers = pd.Series([1, 2, 3], index=["a", "b", "c"])

In [8]:
print(numbers)

a    1
b    2
c    3
dtype: int64

Задание 2. Создать объект Series из словаря {'a': 1, 'b': 2, 'c': 3} и вывести его на печать.

In [9]:
dict = {"a": 1, "b": 2, "c": 3}
s = pd.Series(dict)

In [10]:
print(s)

a    1
b    2
c    3
dtype: int64

Задание 3. Создать объект массива NumPy arr = [1, 2, 3, 4, 5] , затем из него создать объект Series и вывести его на печать.

In [6]:
arr = np.array([1, 2, 3, 4, 5])
s = pd.Series(arr)

In [7]:
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

Задание 4. Создать объект Series с заполнением по умолчанию значением 0 и метками [a, b, c] и вывести его на печать.

In [8]:
s = pd.Series(0, index=["a", "b", "c"])

In [9]:
print(s)

a    0
b    0
c    0
dtype: int64

Задание 5. В первой строке ввода с клавиатуры поступает строка с символами разлепленными пробелом, во второй строка с целыми числами. На их основе создать список кортежей и из него объект Series, вывести его на печать.

In [22]:
str1 = input("Введите символы через пробел")
str2 = input("Введите целые числа ")
s1 = tuple(str(item) for item in str1.split(" "))
s2 = tuple(int(item) for item in str2.split(" "))
my_list = [s1, s2]
s = pd.Series(my_list)

In [23]:
print(s)

0    (a, s, d, f)
1       (3, 4, 5)
dtype: object

Задание 6. На вход поступает строка слов, разделенных пробелом. Создать на ее основе объект Series с метками 0, 1, 2,... Вывести его на печать.

In [6]:
str1 = input("Введите слова, разделенные пробелом ")
s1 = tuple(str(item) for item in str1.split(" "))
s = pd.Series(s1)

In [25]:
print(s)

0          Слова
1    разделенные
2       пробелом
dtype: object

Задание 7. На вход поступает последовательность из чисел 0 и 1, разделенных пробелом. Создать на ее основе объект Series, содержащий булевы значения True (1) , False (0) c метками [a, b, c, d,...]

In [1]:
s = input().split()
s = [bool(int(x)) for x in s]

In [16]:
s1 = pd.Series(s)
s1 = s1.rename(lambda x: chr(97 + x))
print(s1)

a     True
b    False
c     True
d    False
e     True
dtype: bool

Задание 8. Создать объект Series из списка дат ['2022-01-01', '2022-01-02', '2022 01-03'] , вывести его на печать. Даты в объекте Series должны быть представлены объектами datetime стандартной библиотеки языка программирования Python.

In [28]:
dates = pd.Series(data=pd.date_range("2022-01-01", periods=3))
print(dates)

0   2022-01-01
1   2022-01-02
2   2022-01-03
dtype: datetime64[ns]

Задание 9. На вход подаются два целых числа n и m через пробел. На их основе создать объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5, 7,...] . Вывести его на печать.

In [41]:
n, m = (input("Введите целые числа m и n через пробел")).split()
s = pd.Series(np.arange(int(n), int(m), 10))
s = s.rename(lambda x: 2 * x + 1)
print(s)

1       2
3      12
5      22
7      32
9      42
11     52
13     62
15     72
17     82
19     92
21    102
23    112
25    122
dtype: int32

Индивидуальное задание. Создать объект Series из словаря, содержащего ФИО ученика и его ID, отсортировать словарь по ID и вывести его на печать.

In [10]:
student_dict = {
    101: "Иванов Иван Иванович",
    103: "Сидоров Алексей Сергеевич",
    102: "Петров Петр Петрович",
    105: "Соколов Сергей Сергеевич",
    227: "Тимофеев Тимофей Тимофеевич",
    106: "Павлов Павел Павлович",
    104: "Смирнова Екатерина Андреевна",
}

In [16]:
sorted_dict = sorted(student_dict.items())
student_series = pd.Series(student_dict, name="ФИО ученика")

print(student_series)

101            Иванов Иван Иванович
103       Сидоров Алексей Сергеевич
102            Петров Петр Петрович
105        Соколов Сергей Сергеевич
227     Тимофеев Тимофей Тимофеевич
106           Павлов Павел Павлович
104    Смирнова Екатерина Андреевна
Name: ФИО ученика, dtype: object